<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Description</key>
	<string>This template provides a starting point for a UIKit application</string>
	<key>Concrete</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.marypankova.UIKitApplication</string>
	<key>NameOfInitialFileForEditor</key>
	<string>ViewController.swift</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.iosBase</string>
		<string>com.apple.dt.unit.applicationBase</string>
	</array>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>app</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
	<key>Definitions</key>
	<dict>
		<key>ViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>ViewController.swift</string>
		</dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.swift</string>
		</dict>
		<key>Assets.xcassets</key>
		<dict>
			<key>Path</key>
			<string>Assets.xcassets</string>
			<key>AssetGeneration</key>
			<array>
				<dict>
					<key>Type</key>
					<string>appicon</string>
					<key>Name</key>
					<string>AppIcon</string>
					<key>Platforms</key>
					<dict>
						<key>iOS</key>
						<string>true</string>
					</dict>
				</dict>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
		</dict>
		<key>Base.lproj/LaunchScreen.storyboard</key>
		<dict>
			<key>Path</key>
			<string>LaunchScreen.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Assets.xcassets</string>
		<string>AppDelegate.swift</string>
		<string>ViewController.swift</string>
		<string>Base.lproj/LaunchScreen.storyboard</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
				<string>AccentColor</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1,2</string>
				<key>INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents</key>
				<string>YES</string>
				<key>INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone</key>
				<string>UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight</string>
				<key>INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad</key>
				<string>UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight</string>
				<key>SWIFT_VERSION</key>
				<string>5.0</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
